<div role="tabpanel" class="tab-pane config-section" id="k8s">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				Default Kubernetes Config per Challenge Namespace<br>
				<small class="form-text text-muted">
					This yaml-file will get applied for all namespaces in which challenges get deployed.
				</small>
			</label>
			<textarea class="form-control" rows="8" name="kubernetes_default_namespace_config">{% if kubernetes_default_namespace_config %}{{ kubernetes_default_namespace_config }}{% endif %}</textarea>

            <label>
				Default Kubernetes Pull Secret<br>
				<small class="form-text text-muted">
                    Gets applied to all challenge namespaces as a secret named <code>ctfd-pull-secret</code>.
                    To generate such a secret, please execute <code>kubectl get secret -n YOUR_NAMESPACE YOUR_EXISTING_PULL_SECRET --output="jsonpath={.data.\.dockerconfigjson}" | base64 --decode</code>
				</small>
			</label>
			<textarea class="form-control" rows="4" name="kubernetes_pull_secret">{% if kubernetes_pull_secret %}{{ kubernetes_pull_secret }}{% endif %}</textarea>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>